    <div class='panel clearfix'>
      <ul class='icons clearfix' role='navigation'>
        {{header-dropdown mobileAction="fullPageSearch"}}

        {{#header-dropdown}}
          {{#if flaggedPostsCount}}
            <a href='/admin/flags/active' title='{{i18n 'notifications.total_flagged'}}' class='badge-notification flagged-posts'>{{flaggedPostsCount}}</a>
          {{/if}}
        {{/header-dropdown}}

        {{#if currentUser}}
          {{#header-dropdown}}
            {{#if currentUser.unread_notifications}}
              <a href {{action "showUserMenu"}} class='badge-notification unread-notifications'>{{currentUser.unread_notifications}}</a>
            {{/if}}
            {{#if currentUser.unread_private_messages}}
              <a href {{action "showUserMenu"}} class='badge-notification unread-private-messages'>{{currentUser.unread_private_messages}}</a>
            {{/if}}
            {{plugin-outlet "header-notifications"}}
          {{/header-dropdown}}
        {{/if}}
      </ul>
      {{search-menu visible=searchVisible}}
    </div>

    {{#if showExtraInfo}}
      {{header-extra-info topic=topic}}
    {{/if}}
